body {
    margin: 0;
    background-color: white;
}

.logo{
    float: left;
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
}

.navbar{
    box-shadow: 14px 14px 36px -10px rgba(0,0,0,0.75);
    background: #565057;
    padding: 0;
    float: left;
    margin: 2% 0 3% 0;
    width: 61%;
}

.navbar li{
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.navbar a:hover a:focus a:active{
    color: #999;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 5px;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
}

.navbar a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: blue;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.navbar a:active::before {
    background-color: blue;
}

.navbar a:hover::before, .navbar_a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.fa{
    height: 19px;
    padding: 9px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.gallery img{
    transition: 0.5s;
}

.gallery img:hover{
    transform: scale(1.1);
}


table.car_data tr:nth-child(even) {
    background-color: #f2f2f2;
    line-height: 32px;
}

.image{
    float:left; 
    display: block; 
    object-fit: cover;/* nagyítás, egyforma képek */ 
    width: 200px; 
    height: 125px; 
    margin: 0 0 2% 2%;
}

.data{
    background-color: grey; 
    display: inline-block; 
    font-size: 24px; 
    padding: 3px;
}

.extras{
    width:25%; 
    float:left; 
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 19px;
    padding: 5px;
}





