body {
    margin: 0;
    background-color: white;
}

.logo{
    float: left;
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
}

.navbar{
    box-shadow: 14px 14px 36px -10px rgba(0,0,0,0.75);
    background: #565057;
    padding: 0;
    float: left;
    margin: 2% 0 3% 0;
    width: 61%;
}

.navbar li{
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.navbar a:hover a:focus a:active{
    color: #999;
    text-decoration: none;
}


.navbar a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 5px;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
}

.navbar a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: blue;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.navbar a:active::before {
    background-color: blue;
}

.navbar a:hover::before, .navbar_a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.fa{
    height: 19px;
    padding: 9px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;

}

.background{
    position: absolute; 
    left: 0px; 
    top: 129px; 
    z-index: -1;
    width: 100%; 
    filter: blur(4px);
}

.form_main{
    margin: 3% 27%; 
    background-color: white; 
    display: inline-block;
    width: 565px; 
    padding: 10px 6px;
}

.form_content{
    float:left; 
    margin-right: 20px; 
}

.fa-user{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 11px; 
    bottom: 1px; 
}

.fa-envelope{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 13px; 
    bottom: 1px;  
}

.envelope_input{
    position: relative; 
    right: 2px;
}

.fa-user-o{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 11px; 
    bottom: 1px;  
}

.fa-key{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 15px; 
    bottom: 1px; 
}

.fa-phone-square{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 15px;
    bottom: 1px; 
}

.fa-building{
    background-color: green; 
    padding: 8px; 
    position: relative; 
    left: 5px; 
}

.building_select{
    text-align: center; 
    font-size: 14px; 
    width: 202px; 
    height: 35px; 
    margin-top: 10px; 
}

button {
    width: 202px;
    cursor: pointer; 
    height: 33px;
}

input{
    margin: 10px;
    padding: 3px;
    font-size: 15px;
    height: 25px;
}

button{
    margin: 10px;
    padding: 3px;
    font-size: 15px;
}

.error{
    color: red;
}

input[placeholder] {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password]:focus {
  background-color: lightblue;
}
input[type=text]:focus {
  background-color: lightblue;
}
input[type=number]:focus {
  background-color: lightblue;
}
